body{
	background-color: #222;
}

section{
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translate(-50%, -20%);
	width: 500px;
}

section h1{ 
	margin-bottom: 16px;
	font-weight: normal;
	color: #ccc;
}

section div{
	display: flex;
	width: 500px;
	flex-wrap: wrap;
	margin: auto;
	justify-content: space-between;
}

div input{
	height: 40px;
	font-size: 22px;
	font-family: 'Roboto', sans-serif;
	padding: 0 16px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	background-color: #eee;
	color: #444;
}

div input[type="text"]{
	width: 352px;
	text-indent: 4px;
	margin-bottom: 4px;
	margin-left: 4px;
}

#recaptcha{ display: none; }
div label{
	cursor: pointer;
	font-size: 24px;
	width: 44px;
	height: 40px;
	border: 1px solid #ccc;
	background-color: #eee;
	position: relative;
	box-sizing: border-box;
}


div #sendcaptcha{
	width: 100%;
	cursor: pointer;
}

label i{
	position: absolute;
	top: 50%;
	left: 50%;
	color: #444;
	transform: translate(-50%, -50%);
}

div span{
	height: 40px;
	width: 100px;
	border: 1px solid #ccc;
	background-color: #eee;
	padding: 4px;
	box-sizing: border-box;
	text-align: center;
}
div span p{
	font-size: 24px;
	margin: auto 0;
	color: #444;
}

#nothuman{
	color: #db3911;
	text-align: center;
	font-size: 24px;
	margin-top: 4px;
	display: none;
}